
<mat-toolbar color="primary">
<span><a mat-button routerLink="."><strong>Apendo pingis</strong></a></span>

<div fxShow.sm="false"  fxShow.xs="false" fxShow="true" >
<span><a mat-button routerLink="addmatch">Lägg till match</a></span>
<span><a mat-button routerLink="standings">Ranking</a></span> 
<span><a mat-button routerLink="history">Matchhistorik</a></span> 
<span><a mat-button routerLink="rules">Regler</a></span> 
</div>
	<span class="fill-remaining-space"></span>
<div fxShow.sm="true" fxShow.xs="true" fxShow="false" >
<button mat-icon-button [matMenuTriggerFor]="menu" bg-color="primary">
	<mat-icon>more_vert</mat-icon>
</button>
</div>
</mat-toolbar>

<mat-menu #menu="matMenu">
<button mat-menu-item routerLink="addmatch">
	<mat-icon>add_circle_outline</mat-icon>
	<span [style.vertical-align]="'sub'">Lägg till match</span>
</button>
<button mat-menu-item routerLink="standings">
	<mat-icon>format_list_numbered
</mat-icon>
	<span [style.vertical-align]="'sub'">Ranking</span>
</button>
<button mat-menu-item routerLink="history">
	<mat-icon>history</mat-icon>
	<span [style.vertical-align]="'sub'">Matchhistorik</span>
</button>
<button mat-menu-item routerLink="rules">
	<mat-icon>info_outline</mat-icon>
	<span [style.vertical-align]="'sub'">Regler</span>
</button>
</mat-menu>

<router-outlet></router-outlet>